// COLORS
$bg-color: #fff;
$bg-color-nav: #37474F;
$bg-color-column: #ECEFF1;
$bg-color-card: #fff;

$font-color-nav: #fff;
$font-color-column: #263238;
$font-color-card: #263238;

$label-red: #B71C1C;
$label-blue: #37474F;
$label-green: #1B5E20;
$label-yellow: #FFD600;
$label-orange: #E65100;
$label-black: #000000;
$label-grey: #424242;